<div class="flex flex-col w-full h-full border-r border-gray-900">
  <div class="flex flex-row p-2  items-center ">
    <div class="flex flex-row items-center justify-between w-full">
      <img src="assets\logos\logo.png" alt="logo" class="w-44 h-10 cursor-pointer"/>
      <!-- <h1 class="text-2xl font-bold">My App</h1>k -->
      <span class="material-icons-outlined text-text text-2xl cursor-pointer mt-1 pr-2">menu</span>
    </div>
  </div>
  <div class="flex flex-col gap-2 pl-4 py-2">
    <div class="flex flex-row items-center justify-between gap-2 cursor-pointer">
      <div class="flex flex-row items-center gap-2">
        <span class="material-icons-outlined text-text text-xl">school</span>
        <p class="text-text">Cursos</p>
      </div>
      <span class="material-icons-outlined">arrow_drop_down</span>
    </div>
    <div class="flex flex-col gap-2 pl-4">
      <p class="text-text cursor-pointer">Cursos</p>
      <p class="text-text cursor-pointer">Mis Cursos</p>
      <p class="text-text cursor-pointer">Crear Curso</p>

    </div>
  </div>

</div>
