<div class="size flex flex-row gap-2 justify-between items-center text-white border-b border-gray-900">
  <div class="flex flex-row items-center justify-start">
    <div class="flex flex-row items-center justify-start">
      <img src="assets\logos\logo.png" alt="logo" class=" h-10 cursor-pointer" />
      <!-- <h1 class="text-2xl font-bold">My App</h1>k -->
    </div>
  </div>
  <div class="flex flex-row items-center justify-start gap-3 cursor-pointer">
    <img src="https://via.placeholder.com/150" alt="placeholder" class="h-10 w-10 rounded-full" />
    <div class="flex flex-col items-start justify-start">
      <h1 class="text-sm text-white font-bold">Nombre</h1>
      <h2 class="text-xs text-white">Profesor</h2>
    </div>
    <span class="material-icons-outlined text-white">menu</span>
  </div>

</div>
